.header {
    background-color: #222222;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 2.5rem;
    height: 10rem;
}

.header p {
    color: #ffffff;

    text-align: center;
    font-weight: bolder;

    font-size: 2rem;
}